<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.mapper.AccountMapper">
    <resultMap type="com.liu.entity.Account" id="listAccount">
        <result property="aid" column="aid"/>
        <result property="uid" column="uid"/>
        <result property="accountDes" column="account_des"/>
        <result property="accountMoney" column="account_money"/>
        <result property="remark" column="remark"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="deleted" column="deleted"/>
        <association property="users" javaType="com.liu.entity.Users">
            <result property="uid" column="uid"/>
            <result property="username" column="username"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>
    <select id="listWhere" resultMap="listAccount">
        SELECT t1.aid,
               t1.uid,
               t1.account_des,
               t1.account_money,
               t2.uid,
               t2.username,
               t2.name,
               t1.deleted
        FROM t_account t1 LEFT JOIN t_users t2
                                    ON t1.uid=t2.uid
        WHERE t1.deleted=0
    </select>

    <select id="getAccountById" resultMap="listAccount">
        SELECT t1.aid,
               t1.uid,
               t1.account_des,
               t1.account_money,
               t2.uid,
               t2.username,
               t2.name,
               t1.deleted
        FROM t_account t1 LEFT JOIN t_users t2
                                    ON t1.uid=t2.uid
        WHERE t1.deleted=0
        AND t1.aid=#{aid}
    </select>

</mapper>
